.gallery {
    margin: 10px 100px;
}

.gallery img {
    transition: 1s;
    padding: 15px;
    width: 200px;
    max-height: 150px;
}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.uploadSection {
    text-align: center;
    background-color: lightgray;
    padding-bottom: 5px;
}